// mixins

@media (min-width: @screen-sm-min) {

    .menu{
    margin-top: 80px;
    position: fixed;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
	}

	.menu2{
	include : affix-top;
	data-spy: "affix";
    data-offset-top: "80";

    margin-top: 80px;
    position: fixed;
    border-width: 2px;
	}

}

@media (max-width: 768px) {

	body{
		margin-top: 30px;
	}
    
    .menu{
    margin-top: 30px;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
	}

	.menu2{
    margin-top: 30px;
    border-width: 2px;
	}
}