version: '2'

services:
  php:
    container_name: erdiko_php_7.1
    env_file: ../../environment.env
    image: erdiko_phpfpm_7.1
    build:
      context: ./
    volumes:
      - ../../../:/code
      - ./conf.d:/usr/local/etc/php/conf.d
