<div class="error-500">
    <div id="500" class="overlapped">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <a href="/">
                        <img src="/images/ErdikoShieldLogo.png" alt="Erdiko Shield Logo"/>
                    </a>

                    <div class="well">
                        <h3><i class="fa fa-wrench faa-wrench animated"></i> HTTP Error: {{code}}
                            <h3>
                                <h4>Sorry, something went wrong.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>