<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>
                <i class="fa fa-wrench faa-wrench animated"></i> &nbsp; {{code}} Error
            <h1>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="well">
                    <h3>{{message}}</h3>

                    {{#debug}}
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0">
                                    <button
                                            class="btn btn-block btn-info"
                                            data-toggle="collapse"
                                            data-parent="#accordion"
                                            href="#collapseOne"
                                            aria-expanded="true"
                                            aria-controls="collapseOne">
                                        Hide details
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <table class="table table-bordered table-condensed">
                                                <tr>
                                                    <td class="col-lg-2 col-md-2 col-sm-2">
                                                        <strong>Error Message</strong>
                                                    </td>
                                                    <td class="col-lg-5 col-md-5 col-sm-5">{{error}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="col-lg-2 col-md-2 col-sm-2">
                                                        <strong>Path</strong>
                                                    </td>
                                                    <td class="col-lg-5 col-md-5 col-sm-5">{{path_info}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/debug}}
                </div>
            </div>
        </div>
    </div>
</div>