<div class="server-error">
    <div class="overlapped">
        <div class="container centered">
            <div class="well">
                <div class="row solid">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                        <h2><i class="fa fa-wrench faa-wrench animated"></i></h2>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <h1>HTTP Error: {{code}} <h1>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1">
                        <h1 class="pull-right">
                            <a href="/"><i class="fa fa-times faa-times"></i></a>
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <table class="table table-bordered table-condensed">
                            <tr>
                                <td class="col-lg-2 col-md-2 col-sm-2">
                                    <strong>Error string</strong>
                                </td>
                                <td class="col-lg-5 col-md-5 col-sm-5">{{error}}</td>
                            </tr>
                            <tr>
                                <td class="col-lg-2 col-md-2 col-sm-2">
                                    <strong>Message</strong>
                                </td>
                                <td class="col-lg-5 col-md-5 col-sm-5">{{message}}</td>
                            </tr>
                            <tr>
                                <td class="col-lg-2 col-md-2 col-sm-2">
                                    <strong>Path</strong>
                                </td>
                                <td class="col-lg-5 col-md-5 col-sm-5">{{path_info}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>