<div class="container">
    <div class="well">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h3><i class="fa fa-wrench faa-wrench animated"></i>
                    &nbsp;&nbsp;&nbsp;HTTP Error: {{code}}
                <h3>
                <ul class="list-unstyled">
                    <li>
                        <div class="col-lg-5 col-md-5 col-sm-5">Error string:</div>
                        <div class="col-lg-5 col-md-5 col-sm-5">{{error}}</div>
                    </li>
                    <li>
                        <div class="col-lg-5 col-md-5 col-sm-5">Message:</div>
                        <div class="col-lg-5 col-md-5 col-sm-5">{{message}}</div>
                    </li>
                    <li>
                        <div class="col-lg-5 col-md-5 col-sm-5">Path:</div>
                        <div class="col-lg-5 col-md-5 col-sm-5">{{path_info}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>